@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  @apply relative transition-colors;
}

:root {
  --color-border: #472d30;
  --color-primary: #472d30;
  --color-primary-dark-mode: #f1c40f;
  --color-secondary: #924724;
  --color-secondary-dark-mode: #f2542d;
  --color-background: #ffe1a8;
  --color-background-accent: #c9cba3;

  --font-header: Uncial;
  --font-sans: Della;
}

body {
  @apply bg-light dark:bg-backgroundDarkMode;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-header dark:text-light italic;
}

p,
a {
  @apply font-sans text-sm text-primary font-bold dark:text-light;
}

a {
  @apply hover:text-secondary transition;
}

li {
  @apply font-sans ml-5;
}

hr {
  @apply border-t;
}

input[type="text"],
select,
textarea {
  @apply w-full py-2 text-lg border-b;
}

label {
  @apply font-header;
}

@layer components {
  .btn {
    @apply py-2 px-3 w-fit font-sans text-center cursor-pointer bg-secondary dark:bg-primary duration-100 uppercase text-white rounded;
  }
  .btn-disabled {
    @apply cursor-not-allowed bg-gray-400;
  }
  .card {
    @apply bg-backgroundAccent rounded p-3 border;
  }
  .input-wrapper {
    @apply bg-white border py-1 px-2 rounded;
  }

  .link {
    @apply hover:text-primary dark:hover:text-primaryDarkMode transition;
  }

  .btn:hover {
    filter: brightness(105%);
  }
  .btn:active {
    filter: brightness(90%);
  }

  .image-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .image-container img,
  .image-container video {
    @apply md:absolute md:top-[50%] md:left-[50%] md:-translate-x-[50%] md:-translate-y-[50%];

    object-fit: cover;
    width: auto;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
  }
}
/* pairings */
@font-face {
  font-family: Karla;
  src: url("~/assets/fonts/Karla.woff2") format("woff2");
}
@font-face {
  font-family: Inconsolata;
  src: url("~/assets/fonts/Inconsolata.woff2") format("woff2");
}

@font-face {
  font-family: Oswald;
  src: url("~/assets/fonts/Oswald.woff2") format("woff2");
}
@font-face {
  font-family: Quicksand;
  src: url("~/assets/fonts/Quicksand.woff2") format("woff2");
}
@font-face {
  font-family: Lora;
  src: url("~/assets/fonts/Lora.woff2") format("woff2");
}

@font-face {
  font-family: Syne;
  src: url("~/assets/fonts/Syne.woff2") format("woff2");
}
@font-face {
  font-family: Inter;
  src: url("~/assets/fonts/Inter.woff2") format("woff2");
}

@font-face {
  font-family: Montserrat;
  src: url("~/assets/fonts/Montserrat.woff2") format("woff2");
}
@font-face {
  font-family: SourceSans;
  src: url("~/assets/fonts/SourceSans.woff2") format("woff2");
}
@font-face {
  font-family: Della;
  src: url("~/assets/fonts/Della.woff2") format("woff2");
}
@font-face {
  font-family: Uncial;
  src: url("~/assets/fonts/Uncial.woff2") format("woff2");
}
